# to only run these checks: ansible-playbook -i inv*/$ID/hosts.ini plays/$ID/easydb5.pgsql.yml --extra-vars=debug_dump_only=true
# note: role docker will still be executed
- name: only check db dump
  when: 'debug_dump_only|default(false)'
  include_tasks: debug/check_dump.yml

- name: include distro prep'er
  with_first_found:
    - prepare/{{ ansible_distribution }}.{{ ansible_distribution_version }}.yml
    - prepare/{{ ansible_distribution }}.yml
    - prepare/default.yml
  loop_control:
    loop_var: prepare_item
  include_tasks: "{{ prepare_item }}"

- name: include distro installer
  with_first_found:
    - install/{{ ansible_distribution }}.{{ ansible_distribution_version }}.yml
    - install/{{ ansible_distribution }}.yml
    - install/default.yml
  loop_control:
    loop_var: install_item
  include_tasks: "{{ install_item }}"

- name: include distro configurator
  with_first_found:
    - configure/{{ ansible_distribution }}.{{ ansible_distribution_version }}.yml
    - configure/{{ ansible_distribution }}.yml
    - configure/default.yml
  loop_control:
    loop_var: install_item
  include_tasks: "{{ install_item }}"
