hostname:
  chrome: {{ easydb_chrome_hostname }}

external_url: {{ easydb_url }}

smtp:
  server: {{ easydb_mail_relay_for_ssmtp }}
  hostname: {{ easydb_hostname_for_ssmtp }}
  from-address: {{ easydb_envelope_from }}
