canonical-name: {{ easydb_eas_hostname }}
log-level: info
pgsql:
  host: {{ easydb_pgsql_hostname }}
  port: {{ easydb_pgsql_port }}
  username: docker
  password: docker
  database: eas
num-workers: {{ easydb_eas_num_workers }}
num-soffice: {{ easydb_eas_num_soffice }}
num-services: 5
trusted-net: {{ easydb_eas_trusted_net }}

email:
  server: {{ easydb_mail_relay_for_ssmtp }}
  hostname: {{ easydb_hostname_for_ssmtp }}
  from-address: {{ easydb_envelope_from }}
