docker-hostname: easydb-eas
canonical-name: easydb-eas
log-level: info
pgsql:
  host: easydb-pgsql
  port: 5432
  username: docker
  password: docker
  database: eas
num-workers: 1
num-services: 5
num-soffice: 2
trusted-net: 172.0.0.0/8
