{{ ansible_managed | comment }}
{
    "order" : 0,
    "template" : "*",
    "settings" : {
      "index" : {
        "search" : {
          "slowlog" : {
            "threshold" : {
              "fetch" : {
                "warn" : "1s",
                "trace" : "200ms",
                "debug" : "500ms",
                "info" : "800ms"
              },
              "query" : {
                "warn" : "10s",
                "trace" : "500ms",
                "debug" : "2s",
                "info" : "5s"
              }
            }
          }
        },
        "store" : {
          "throttle" : {
            "type" : "merge",
            "max_bytes_per_sec" : "50mb"
          }
        },
        "indexing" : {
          "slowlog" : {
            "threshold" : {
              "index" : {
                "warn" : "10s",
                "trace" : "500ms",
                "debug" : "2s",
                "info" : "5s"
              }
            }
          }
        },
        "number_of_shards" : "10",
        "number_of_replicas" : "0",
        "merge" : {
          "scheduler" : {
            "max_thread_count" : "2"
          },
          "policy" : {
            "max_merge_at_once" : "20",
            "reclaim_deletes_weight" : "0.5",
            "max_merged_segment" : "10gb",
            "segments_per_tier" : "20"
          }
        }
      }
    },
    "mappings" : { },
    "aliases" : { }
}
