docker run -d -ti \
    --name easydb-eas \
    --net easy5net \
    --volume=$BASEDIR/config:/config \
    --volume=$BASEDIR/eas/lib:/var/opt/easydb/lib/eas \
    --volume=$BASEDIR/eas/log:/var/opt/easydb/log/eas \
    docker.easydb.de:5000/pf/eas
