# Where is the base data directory with the subdirectories "config", "easydb-server", etc.?
#BASEDIR=/srv/easydb  # default
BASEDIR={{ easydb_basedir }}

# Which solution (variant of the server-docker-image) is installed?
# (In case of multiple solutions: no prepared implementation for here, yet.)
#SOLUTION=base        # default
SOLUTION={{ easydb_solution }}

# Space-separated list of names of dbs in postgres in container "easydb-pgsql" to dump # default
#DBS="eas easydb"     # default
DBS="eas easydb"

# Of each DB in $DBs keep this many newest dumps
#KEEPDBS=7            # default
KEEPDBS=7

# Put output of the command update-auto into this file (stdout, not stderr)
#UPDATELOG=/var/log/easydb-update.log   # default
UPDATELOG=/var/log/easydb-update.log

# docker-compose executable
# default is to use the result of: which docker-compose
#COMPOSE="echo COMPOSE" # dummy for debugging
