version: "2"
services:
  elasticsearch:
    image: "{{ easydb_docker_registry }}/pf/elasticsearch"
    container_name: easydb-elasticsearch
    volumes:
      - /srv/docker/volumes/common/config:/config
      - /srv/docker/volumes/elasticsearch/var:/var/lib/elasticsearch

  pgsql:
    image: "{{ easydb_docker_registry }}/pf/postgresql"
    container_name: easydb-pgsql
    ports:
      - 15432:5432
    volumes:
      - /srv/docker/volumes/common/backup:/backup
      - /srv/docker/volumes/common/config:/config
      - /srv/docker/volumes/postgres/etc:/etc/postgresql
      - /srv/docker/volumes/postgres/log:/var/log/postgresql
      - /srv/docker/volumes/postgres/var:/var/lib/postgresql

  eas:
    image: "{{ easydb_docker_registry }}/pf/eas"
    container_name: easydb-eas
    depends_on:
      - pgsql
    ports:
      - 10080:80
    volumes:
      - /srv/docker/volumes/common/config:/config
      - /srv/docker/volumes/eas/lib:/var/opt/easydb/lib/eas
      - /srv/docker/volumes/eas/log:/var/opt/easydb/log/eas

  server-{{ easydb_solution }}:
    image: "{{ easydb_docker_registry }}/pf/server-{{ easydb_solution }}"
    container_name: easydb-server
    cap_add:
      - SYS_PTRACE
    depends_on:
      - pgsql
      - elasticsearch
      - eas
    ports:
      - 10480:80
    volumes:
      - /srv/docker/volumes/common/config-{{ easydb_solution }}:/config
      - /srv/docker/volumes/easydb-server-{{ easydb_solution }}/var:/easydb-5/var
      - /srv/docker/volumes/easydb-server-{{ easydb_solution }}/nginx-log:/var/log/nginx
      - /srv/docker/volumes/easydb-server-{{ easydb_solution }}/hotfolder:/hotfolder

  webfrontend:
    image: "{{ easydb_docker_registry }}/pf/webfrontend"
    container_name: easydb-webfrontend
    depends_on:
      - server-{{ easydb_solution }}
      - eas
    ports:
      - 127.0.0.1:10481:80
    volumes:
      - /srv/docker/volumes/common/config-{{ easydb_solution }}:/config
