version: "2"
services:
  elasticsearch:
    image: "{{ easydb_docker_registry }}/pf/elasticsearch"
    container_name: easydb-elasticsearch
    volumes:
      - {{ volume_config }}:/config
      - {{ volume_elasticsearch_var }}:/var/lib/elasticsearch

  pgsql:
    image: "{{ easydb_docker_registry }}/pf/postgresql"
    container_name: easydb-pgsql
    ports:
      - 15432:5432
    volumes:
      - {{ volume_pgsql_backup }}:/backup
      - {{ volume_config }}:/config
      - {{ volume_pgsql_etc }}:/etc/postgresql
      - {{ volume_pgsql_log }}:/var/log/postgresql
      - {{ volume_pgsql_var }}:/var/lib/postgresql

  eas:
    image: "{{ easydb_docker_registry }}/pf/eas"
    container_name: easydb-eas
    depends_on:
      - pgsql
    ports:
      - 10080:80
    volumes:
      - {{ volume_config }}:/config
      - {{ volume_eas_lib }}:/var/opt/easydb/lib/eas
      - {{ volume_eas_log }}:/var/opt/easydb/log/eas
      - {{ volume_eas_tmp }}:/tmp

  server-{{ easydb_solution }}:
    image: "{{ easydb_docker_registry }}/pf/server-{{ easydb_solution }}"
    container_name: easydb-server
    cap_add:
      - SYS_PTRACE
    depends_on:
      - pgsql
      - elasticsearch
      - eas
    ports:
      - 10480:80
    volumes:
      - {{ volume_config }}:/config
      - {{ volume_server_var }}:/easydb-5/var
      - {{ volume_server_nginx_log }}:/var/log/nginx
      - {{ volume_server_hotfolder }}:/hotfolder

  webfrontend:
    image: "{{ easydb_docker_registry }}/pf/webfrontend"
    container_name: easydb-webfrontend
    depends_on:
      - server-{{ easydb_solution }}
      - eas
    ports:
      - 127.0.0.1:10481:80
    volumes:
      - {{ volume_config }}:/config
