#!/bin/bash

{{ ansible_managed | comment }}

docker run -d -ti \
{% if 'easydb-server' in easydb_containers[easydb_container].container_name %}
    --security-opt seccomp=unconfined \
    --cap-add SYS_PTRACE \
{% endif %}
    --name {{ easydb_containers[easydb_container].container_name }} \
    --restart=always \
    --net {{ easydb_container_network }} \
{% for volume in easydb_containers[easydb_container].volumes | default([]) %}
    --volume {{ volume }} \
{% endfor %}
{% for port in easydb_containers[easydb_container].ports | default([]) %}
    -p {{ port }} \
{% endfor %}
{% if 'easydb-chrome' in easydb_containers[easydb_container].container_name %}
    --shm-size=1g \
{% endif %}
{% for host in easydb_etc_hosts[inventory_hostname] | default([]) %}
    --add-host "{{ host }}":{{ easydb_etc_hosts[inventory_hostname][host] }} \
{% endfor %}
    {{ easydb_containers[easydb_container].image | default([]) }}
