#!/bin/bash

{{ ansible_managed | comment }}

docker run -d -ti \
    --name easydb-{{ easydb_container_name }} \
    --restart=always \
    --net {{ easydb_container_network }} \
{% for volume in easydb_containers[easydb_container_name].volumes | default([]) %}
    --volume {{ volume }} \
{% endfor %}
{% for port in easydb_containers[easydb_container_name].ports | default([]) %}
    -p {{ port }} \
{% endfor %}
    {{ easydb_containers[easydb_container_name].image | default([]) }}
