#!/bin/bash

{{ ansible_managed | comment }}

docker run -d -ti \
    --name {{ easydb_containers[easydb_container].container_name }} \
    --restart=always \
    --net {{ easydb_container_network }} \
{% for volume in easydb_containers[easydb_container].volumes | default([]) %}
    --volume {{ volume }} \
{% endfor %}
{% for port in easydb_containers[easydb_container].ports | default([]) %}
    -p {{ port }} \
{% endfor %}
    {{ easydb_containers[easydb_container].image | default([]) }}
